body {
    background-color: black;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 40px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

}

.container div {
    padding: 10px;
    border: 1px solid white;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    border: none !important;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 4;
    border: none !important;

}

.content-small {
    display:grid;
    font-size: small;
    margin: 5px;
}

.footer {
    background-color: black;
    grid-column: 1 / span 3;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 1000px;
}

.logo {
    max-width:100%;
    max-height:100%;
    float: left;
}

.slogan {
    font-size: 300%;
}

.buttonn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .buttonn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .buttonn1:hover {
    background-color: #4CAF50;
    color: white;
  }